.menu-trigger {
	background-color: transparent;
	background-image: none;
	border: 0;
	box-sizing: border-box;
	display: block;
	height: 44px;
	padding: 0;
	position: relative;
	width: 44px;
	z-index: 20;
	@media (min-width:1024px) {
		display: none;
	}
	.icon-bar,
	.icon-bar:after,
	.icon-bar:before {
		background-color: #1a1919;
		content: "";
		display: block;
		height: 2px;
		left: 10px;
		position: absolute;
		top: 22px;
		transform-origin: 2% center;
		transition: all .3s ease-out;
		width: 22px
	}
	.icon-bar:before {
		left: 0;
		top: 7px
	}
	.icon-bar:after {
		left: 0;
		top: -7px
	}
	&:hover {
		background-color: #b0ffd0;
		border: 0
	}
}

.menu-trigger.menu-open,
.sb-active .menu-trigger{
	.icon-bar {
		background-color: transparent;
		width: 4px;
		&:before {
			background-color: #1a1919;
			left: 4px;
			transform: rotate(-45deg);
			width: 21px
		}
		&:after {
			background-color: #1a1919;
			left: 4px;
			transform: rotate(45deg);
			width: 21px
		}
	}
} 



.main-menu-wrapper{
	ul {
		*zoom: 1;
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
		}
		list-style: none;
		margin: 0;
		padding: 0;
		&:after,
		&:before {
			content: " ";
			display: table
		}
		&:after {
			clear: both
		}
		&>li {
			@media (max-width: 768px) {margin: 0 4.4rem; }
			list-style: none;
			margin: 0 2.4rem;
			padding: 0;
			&>a {
				color: #1a1919;
				display: block;
				font-family: degular, sans-serif;
				font-size: 2rem;
				font-weight: 700;
				line-height: 1.35;
				padding: 0.5rem 1rem; 
				@media (min-width: 768px) {  padding: 0.5rem 6px; }
				&:hover {
					color: #b0ffd0;
					text-decoration: none
				}
			}
			
			// &.current-menu-item>a,
			// &.current_page_parent>a {
			// 	// color: #b0ffd0
			// 	text-decoration: underline;
			// }

			
		}
	
	}

} 

 
.main-header {
	background: #fff;
	@media (min-width: 768px) { 
		position: fixed; 
		left: 0;
		right: 0;
		top: 0;
	}
	z-index:2;
	
	.main-header-column {
		align-items: center;
		@media (min-width: 768px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}	
		padding:0;
		@media (min-width: 481px) {
			font-size: 1.6rem;
			span {
				font-size: 1.6rem;
			}
		}
		.main-header-column-brand {
			// flex:1;
			strong{
				font-weight: 700;
			}
			a {
				align-items: center;
					display: flex;
					flex-direction: row;
					justify-content:flex-start;
				
					font-size: 2rem;
				
				&:before {
					background-color: #b0ffd0;
					background-image: url(visuals/typearture-logo-gray-dark-44.svg);
					content: " ";
					display: block;
					height: 44px;
					width:44px
				}
				span {
					padding-left:1rem;
					@media (min-width: 768px) {
						padding-left:2rem;
					}
				}
				
				&:hover:before {
					background-color: #1a1919;
					background-image:url(visuals/typearture-logo-green-44.svg);
				}
				
			}
		}
	}
}

.main-header .main-header-column .main-header-column-typearture {
		margin: 0 4.4rem;
 	@media (min-width: 768px) {
		 margin: 0;
		 display: flex;
		 flex-direction: row;
		justify-content:flex-end;
	}
	
	strong{
		font-weight: 700;
	}
	a{	
		color: #1a1919;
		display: block;
		font-family: degular, sans-serif;
		font-size: 2rem;
		// font-weight: 700;
		line-height: 1.35;
		padding: 0.5rem 1rem; 
		@media (min-width: 768px) { padding: 0.5rem 2rem 0.5rem 0.6rem; }
		&:hover{
			color: #b0ffd0;
		}
	}
}

.main-header .main-header-column .main-header-column-filler {
	@media (min-width: 768px) {
		display: flex;
		// flex: 1;
		flex-direction: row;
		justify-content:flex-end
	}
}

