@import 'reset';
@import 'menu';
@import 'typartures';
@import 'font-nabla';

:root {
	--base-color: #000;
	--whiter: #FFF;
	--black: #000;
	--grey: #EEE;
	--light-grey:#f2f2f2;
	--slightly-darker-grey:#E6E6E6;
	--base-blue: #3a50ef;
	--mid-blue: #142DAA;
	--dark-blue: #00002b;
	--base-orange: #ff8723;
	--bg-color: var(--base-blue);
	
	--typarture: #B0FFD0;
}

.nabla {
	font-family: 'Nabla';
}

@font-palette-values --black {
	font-family: 'Nabla';
	base-palette: 3;
}

@font-palette-values --white {
	font-family: 'Nabla';
	base-palette: 4;
}
@font-palette-values --red {
  font-family: Nabla;
  base-palette: 1;
}

@font-palette-values --blue {
  font-family: Nabla;
  base-palette: 2;
}

@font-palette-values --grey_00 {
  font-family: Nabla;
  override-colors:
	0 rgb(90, 90, 120),
	1 rgb(20, 20, 50),
	2 rgb(70, 70, 100),
	3 rgb(50, 50, 80),
	4 rgb(90, 90, 120),
	5 rgb(120, 120, 150),
	6 rgb(90, 90, 120),
	7 rgb(120, 120, 150),
	8 rgb(150, 150, 180),
	9 rgb(200, 200, 210);
}

@font-palette-values --grey_01 {
  font-family: Nabla;
  override-colors:
		0 rgb(90, 90, 133),
		1 rgb(28, 28, 58),
		2 rgb(78, 78, 108),
		3 rgb(60, 60, 90),
		4 rgb(90, 90, 133),
		5 rgb(133, 133, 162),
		6 rgb(90, 90, 133),
		7 rgb(133, 133, 162),
		8 rgb(162, 162, 190),
		9 rgb(207, 207, 216);
}
@font-palette-values --grey_02 {
  font-family: Nabla;
  override-colors:
		0 rgb(113, 113, 146),
		1 rgb(36, 36, 66),
		2 rgb(86, 86, 116),
		3 rgb(70, 70, 100),
		4 rgb(113, 113, 146),
		5 rgb(146, 146, 174),
		6 rgb(113, 113, 146),
		7 rgb(146, 146, 174),
		8 rgb(174, 174, 201),
		9 rgb(214, 214, 222);
	}
@font-palette-values --grey_03 {
  font-family: Nabla;
  override-colors:
		0 rgb(126, 126, 159),
		1 rgb(44, 44, 74),
		2 rgb(94, 94, 124),
		3 rgb(80, 80, 110),
		4 rgb(126, 126, 159),
		5 rgb(159, 159, 186),
		6 rgb(126, 126, 159),
		7 rgb(159, 159, 186),
		8 rgb(186, 186, 210),
		9 rgb(221, 221, 228);
}
@font-palette-values --grey_04 {
  font-family: Nabla;
  override-colors:
		0 rgb(139, 139, 172),
		1 rgb(52, 52, 82),
		2 rgb(102, 102, 132),
		3 rgb(90, 90, 120),
		4 rgb(139, 139, 172),
		5 rgb(172, 172, 198),
		6 rgb(139, 139, 172),
		7 rgb(172, 172, 198),
		8 rgb(198, 198, 219),
		9 rgb(228, 228, 234);
}
@font-palette-values --grey_05 {
  font-family: Nabla;
  override-colors:
		0 rgb(152, 152, 185),
		1 rgb(60, 60, 90),
		2 rgb(110, 110, 140),
		3 rgb(100, 100, 130),
		4 rgb(152, 152, 185),
		5 rgb(185, 185, 210),
		6 rgb(152, 152, 185),
		7 rgb(185, 185, 210),
		8 rgb(210, 210, 228),
		9 rgb(235, 235, 240);
}
@font-palette-values --grey_06 {
  font-family: Nabla;
  override-colors:
		0 rgb(165, 165, 208),
		1 rgb(68, 68, 98),
		2 rgb(118, 118, 148),
		3 rgb(110, 110, 140),
		4 rgb(165, 165, 208),
		5 rgb(208, 208, 222),
		6 rgb(165, 165, 208),
		7 rgb(208, 208, 222),
		8 rgb(222, 222, 237),
		9 rgb(242, 242, 246);
}
@font-palette-values --grey_07 {
	  font-family: Nabla;
	  override-colors:
		0 rgb(187, 187, 220),
		1 rgb(76, 76, 106),
		2 rgb(126, 126, 156),
		3 rgb(120, 120, 150),
		4 rgb(187, 187, 220),
		5 rgb(234, 234, 245),
		6 rgb(187, 187, 220),
		7 rgb(234, 234, 245),
		8 rgb(234, 234, 246),
		9 rgb(249, 249, 250);
}
@font-palette-values --grey_08 {
	  font-family: Nabla;
	  override-colors:
		0 rgb(195, 195, 225),
		1  rgb(85, 85, 115),
		2 rgb(140, 140, 170),
		3 rgb(130, 130, 160),
		4 rgb(195, 195, 225),
		5 rgb(215, 215, 245),
		6 rgb(195, 195, 225),
		7 rgb(215, 215, 245),
		8 rgb(245, 245, 255),
		9 rgb(255, 255, 255);
}

// @font-palette-values --custom {
// 	font-family: Nabla;
// 	  override-colors:
// 	  0 rgb(225, 225, 225),
// 	  1 rgb(225, 225, 225),
// 	  2 rgb(225, 225, 225),
// 	  3 rgb(225, 225, 225),
// 	  4 rgb(225, 225, 225),
// 	  5 rgb(225, 225, 225),
// 	  6 rgb(225, 225, 225),
// 	  7 rgb(225, 225, 225),
// 	  8 rgb(225, 225, 225),
// 	  9 rgb(225, 225, 225);
// }


body {
	// background: var(--bg-color);
}


.site-container{
	max-width: 100%;
	overflow-x:hidden;
	margin-top: 1rem;
	@media (min-width: 768px) {
		margin-top: 4.4rem;
	}
}
.frame-container{
	p{
		margin-bottom: 1em;
		strong{ font-weight: 700;}
	}
	a.button{
		display: inline-block;
		padding: 0.75em 1em;
		border-radius: .5em; 
		border: 1px solid var(--black); 
		margin-bottom: 1em;
		@media (min-width: 768px) {
			margin-right: 1em;
			margin-bottom: 0;
		}
		&.dark{
			color: var(--light-grey);
			background-color: var(--black); 
		}
		&:link{
			
		}
		&:visited, &:focus{
			border: 1px solid var(--black); 
		}
		&:hover, &:active{
			background-color: var(--whiter);
			color: var(--black); 
			text-decoration: none;
			border: 1px solid var(--whiter); 
			transition: all ease-in-out 0.3s
		}
	}
	
	a:hover{
		text-decoration: none;
		color: var(typarture);
	}
}

.intro {
	position: relative;
	background: var(--mid-blue);
	min-height: 40vh;
	background-size: contain;
	background-image: url('visuals/Nabla_Header.svg');
	background-position: center center;
	background-repeat: no-repeat;
	
	@media (min-width: 768px) {
		min-height: 80vh;
		background-size: cover;
	}
	

	// margin-bottom: 200vh;
	.title {
		color: var(--whiter);
		position: absolute;
		bottom: 0;
		padding: 10vw;

		h1 {
			font-weight: 900;
		}
	}
}


// @keyframes moveone {
//  0% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// 25% {font-variation-settings: "EDPT" 200, "EHLT" 15;}
// 50% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// 75% {font-variation-settings: "EDPT" 0, "EHLT" 15;}
// 100% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// }
@keyframes depthcharge {
 0% {font-variation-settings: "EDPT" 0 }
100% {font-variation-settings: "EDPT" 200}
}
@keyframes depthuncharge {
 0% {font-variation-settings: "EDPT" 200 }
100% {font-variation-settings: "EDPT" 0}
}

// @keyframes moveone {
//  0% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// 25% {font-variation-settings: "EDPT" 200, "EHLT" 15;}
// 50% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// 75% {font-variation-settings: "EDPT" 1, "EHLT" 15;}
// 100% {font-variation-settings: "EDPT" 100, "EHLT" 15;}
// }




.animation{
	background: var(--mid-blue);
	min-height: 45.1vw !important;
	// background-image: url('visuals/Artboard 26.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	
	min-height: calc(100vh - 5rem);
	// background: var(--bg-color-blue);
	
	position: relative;
	padding: 0;
	// display: flex;
	// align-items:center;
	// background: var(--bg-color);
	.color-anim{
	// font-size: 15rem;
		// font-size: 14vw;
		font-size: 12vw;
		line-height: 1.1;
		letter-spacing: 0.8vh;
		
		// font-variation-settings: "EHLT" 15;
		font-family: 'Nabla';
		font-kerning: none;
		text-align: center;
	  	// overflow: hidden;
	  	width: 100%;
	  	height: 100%;
		 
		 &.yellow,
		 &.line1{
			 padding: 3vw 0 0;
		 }
		
	}
		
}

.chrome{
	.animation{
		.color-anim{
			&.yellow,
			&.line1{
 				font-variation-settings: "EDPT" 0;
				span { animation: depthcharge 3s ease-in-out alternate infinite; }
			
			}
			&.blue{
				font-palette: --blue;
				font-variation-settings: "EDPT"  200;
				span { animation: depthuncharge 3s ease-in-out alternate infinite; }
			}
			&.red{
				font-palette: --red;
				font-variation-settings: "EDPT" 0;
				span { animation: depthcharge 3s ease-in-out alternate infinite; }
			
			}
			
			
			span{
				
				position: relative;
				display: inline-block;
				  
				@for $i from 1 through 9 {
					&:nth-child(#{$i}) {
						animation-delay: $i * 0.333333s;
					}
				}
			
			}
		}
	}
	
}
.COLRv1{
	background: var(--slightly-darker-grey);
	min-height: 80vh;
	background-image: url('visuals/Nabla_Color.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}


.COLRv1_1{
	text-align: center;
	background-color: var(--slightly-darker-grey);
}
.COLRv1_1_img{
	width:100%; 
	height:auto;
	max-width: 120rem;
	margin: 0 auto;
}

.nabla_color {
	min-height: calc(100vh - 5rem);
	// background: var(--bg-color-blue);
	padding: 0;
	position: relative;
	background: var(--bg-color);
	background-image: linear-gradient(180deg,  var(--base-blue),  var(--dark-blue));
	.color-text {
		padding: 4rem 2rem 0.5em;
		font-family: 'Nabla';
		// font-kerning: none;
		font-size: 15vw;
		@media (min-width: 768px) { font-size: 20rem;}
		// font-size: 12vw;
		line-height: 1.1em;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
		// background: var(--bg-color-blue);
	}
}

.nabla_bw {
	min-height: 40vw;
	@media (min-width: 768px) { min-height: 70rem; }
	// background: var(--bg-color-blue);
	padding: 0;
	position: relative;
	background: var(--dark-blue);

	.bw-text {
		padding: 4rem 2rem 0.5em;
		font-family: 'Nabla';
		font-kerning: none;
		font-size: 19vw;
		@media (min-width: 768px) { font-size: 25rem; }
		line-height: 1.1em;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
		font-variation-settings: "EDPT"100, "EHLT"12;
		font-palette: --black;

		// font-palette: base-palette: 3;
		strong {
			// base-palette: 4;
			font-palette: --white;
			// font-palette: base-palette: 4;
		}
		
		.l_1{ font-palette: --grey_00;}
		.l_2{ font-palette: --grey_01;}
		.l_3{font-palette: --grey_02;}
		.l_4{font-palette: --grey_03;}
		.l_5{font-palette: --grey_04;}
		.l_6{font-palette: --grey_05;}
		.l_7{font-palette: --grey_06;}
		.l_8{font-palette: --grey_07;}
		.l_9{ font-palette: --grey_08;}
	}
}





.content-block-mini{
	background-color: #f2f2f2;
	color: #1a1919;
	font-size: 1.8rem;
	padding: 12px 12px 24px;
	min-height: 10vh;
}

input[type="color"] {
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	&::-webkit-color-swatch {
		border: none;
	}

}


.slider-bar {
	background: var(--whiter);
	padding: 1rem 2rem;
	width: 100%;
	width: calc(100% - 4rem);
	// &.top{ top: 0;}
 
	.slider-row {
		@media (min-width: 768px) {
			display: flex;
			justify-content: center;
			gap: 60px;
		}
		.slider-cell {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
			@media (min-width: 768px) {
				width: min(30rem, 20vw);
			}
			label {
				margin-top: 1rem;
				margin-right: 0;
				margin-bottom: 0.25em;
				color: var(--base-color);
				font-weight: bold;
				font-size: 2rem;
				line-height: 1;
				width: 50%;
				@media (min-width: 768px) { width: min(11em, 40%); margin-right: 2rem;}
			}
			select {
				background: inherit;
				border: 1px solid var(--base-color);
				color: var(--base-color);
				height: 1.5rem;
				padding: 1rem;
				font-size: 2rem;
				line-height: 1;
				// margin-top: 1rem;
				// margin-bottom: 1rem;
				margin:1rem 1rem 1rem 0;

				&#font-palette{
					@media (max-width: 768px) {
						// margin-left: auto;
						// margin-right: auto;
						// width: calc(25% - 1rem); 
					}
				}
			}
			input.color1,
			input.color2{
				// margin:0 0.5rem;
				margin:1rem 1rem 1rem 0;
				// @media (max-width: 768px) { width: calc(25% - 1rem); }
			}
			.slider {
				-webkit-appearance: none;
				appearance: none;
				width: 50%;
				@media (min-width: 768px) { width: 55%; }
				height: 0.15rem;
				background: var(--base-color);
				outline: none;
				margin-top: 1rem;
			
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 50%;
					background: var(--base-color);
				}
			
			}
			.colorpicker {
				outline: none;
				// background-color: transparent;
				border: 0.1rem solid var(--base-color);
				border-width: 0.1rem;
				box-shadow: none;
				margin-top: 0.5rem;
				// width: 6rem;
				height: 2.5rem;
				cursor: pointer;
				margin-left: 0.5rem;
				margin-right: 0.5rem;
			}
			
			#font-palette{
				// background: var(--base-orange);
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd216+50,fc542d+50 */
				background: #ffd216; /* Old browsers */
				background: -moz-linear-gradient(-30deg,  #ffd216 50%, #fc542d 50%); /* FF3.6-15 */
				background: -webkit-linear-gradient(-30deg,  #ffd216 50%,#fc542d 50%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(150deg,  #ffd216 50%,#fc542d 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd216', endColorstr='#fc542d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

				&.palette--0{ /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd216+50,fc542d+50 */
					background: #ffd216; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #ffd216 50%, #fc542d 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #ffd216 50%,#fc542d 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #ffd216 50%,#fc542d 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd216', endColorstr='#fc542d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}		
				&.palette--1{ 
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1571+50,780082+50 */
					background: #ff1571; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #ff1571 50%, #780082 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #ff1571 50%,#780082 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #ff1571 50%,#780082 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1571', endColorstr='#780082',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.palette--2{ /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00a0e1+50,2300f1+50 */
					background: #00a0e1; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #00a0e1 50%, #2300f1 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #00a0e1 50%,#2300f1 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #00a0e1 50%,#2300f1 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e1', endColorstr='#2300f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.palette--3{ 
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#121230+50,52526d+50 */
					background: #121230; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #121230 50%, #52526d 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #121230 50%,#52526d 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #121230 50%,#52526d 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121230', endColorstr='#52526d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.palette--4{ 
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c3c3e1+50,555573+50 */
					background: #c3c3e1; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #c3c3e1 50%, #555573 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #c3c3e1 50%,#555573 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #c3c3e1 50%,#555573 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3e1', endColorstr='#555573',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.palette--5{ 
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd700+50,009c4e+50 */
					background: #ffd700; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #ffd700 50%, #009c4e 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #ffd700 50%,#009c4e 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #ffd700 50%,#009c4e 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#009c4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				}
				&.palette--6{
					/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c1491+50,d20150+50 */
					background: #3c1491; /* Old browsers */
					background: -moz-linear-gradient(-30deg,  #3c1491 50%, #d20150 50%); /* FF3.6-15 */
					background: -webkit-linear-gradient(-30deg,  #3c1491 50%,#d20150 50%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(150deg,  #3c1491 50%,#d20150 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c1491', endColorstr='#d20150',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

				}
			}
			
		}
		.picker-cell{
			// display: flex;
			// flex-direction: row;
			// align-items: center;
			// width: 90vw;
			// margin: 0 auto;
			margin-top: 1rem;
			margin-bottom: 0;
			@media (max-width: 768px) {
				text-align: center;
			}
			label {
				@media (max-width: 768px) {
					display: block;
					padding-bottom: 0.5em;
				}
				margin-top: 1rem;
				margin-right: 2rem;
				margin-bottom: 0.25em;
				color: var(--base-color);
				font-weight: bold;
				font-size: 2rem;
				line-height: 1;
			}
			select {
				background: inherit;
				border: 1px solid var(--base-color);
				color: var(--base-color);
				height: 1.5rem;
				padding: 1rem;
				font-size: 2rem;
				line-height: 1;
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
			input{
				margin-left: .5rem;
				margin-right: .5rem;
				@media (max-width: 768px) {
					margin-bottom: 1rem;
				}
			}
		}
	}	
}


html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden
}

#sb-site,
.sb-site-container {
	background-color: #fff;
	min-height: 100vh;
	position: relative;
	width: 100%;
	z-index: 1
}

#sb-site:after,
#sb-site:before,
.sb-site-container:after,
.sb-site-container:before {
	clear: both;
	content: " ";
	display: table
}

.sb-slidebar {
	background-color: #222;
	display: none;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	z-index: 0
}

.sb-slidebar,
.sb-slidebar * {
	-webkit-transform: translateZ(0)
}

.sb-left {
	left: 0
}

.sb-right {
	right: 0
}

.sb-slidebar.sb-static,
html.sb-static .sb-slidebar {
	position: absolute
}

.sb-slidebar.sb-active {
	display: block
}

.sb-style-overlay {
	z-index: 9999
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch
}

.sb-slidebar {
	width: 30%
}

.sb-width-thin {
	width: 15%
}

.sb-width-wide {
	width: 45%
}

@media (max-width:480px) {
	.sb-slidebar {
		width: 70%
	}

	.sb-width-thin {
		width: 55%
	}

	.sb-width-wide {
		width: 85%
	}
}

@media (min-width:481px) {
	.sb-slidebar {
		width: 55%
	}

	.sb-width-thin {
		width: 40%
	}

	.sb-width-wide {
		width: 70%
	}
}

@media (min-width:768px) {
	.sb-slidebar {
		width: 40%
	}

	.sb-width-thin {
		width: 25%
	}

	.sb-width-wide {
		width: 55%
	}
}

@media (min-width:992px) {
	.sb-slidebar {
		width: 30%
	}

	.sb-width-thin {
		width: 15%
	}

	.sb-width-wide {
		width: 45%
	}
}

@media (min-width:1200px) {
	.sb-slidebar {
		width: 20%
	}

	.sb-width-thin {
		width: 5%
	}

	.sb-width-wide {
		width: 35%
	}
}

#sb-site,
.sb-site-container,
.sb-slide,
.sb-slidebar {
	-webkit-backface-visibility: hidden;
	transform: translate(0);
	transition: transform .4s ease;
	-webkit-transition-property: -webkit-transform, left, right
}

.sb-hide {
	display: none
}


.COLRv1_setting{
	opacity: 0.25;
}
.chrome .COLRv1_setting{
	// display: initial;
	opacity: 1;
}


